@import url("https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav.desk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 7rem;
}
.logo,
.footlogo {
  width: 15%;
}
.menu {
  display: none;
}
.capt {
  text-transform: uppercase;
  font-family: "Halant", sans-serif;
  color: black;
  font-weight: 500;
}
.capt.active {
  border-bottom: 1px solid rgba(21, 94, 239, 1);
}
a {
  text-decoration: none;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  padding: 0 2.4rem;
}
#home {
  background-color: black;
  color: white;
  display: flex;
  padding: 2rem 5rem 0 7rem;
  justify-content: space-between;
  /* height: 10%; */
}
.hometxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}
.homeimg {
  width: 35%;
}
#home img {
  display: block;
  filter: grayscale(80%);
  margin: 0;
  height: 100%;
  width: 100%;
}
#home h1 {
  font-size: 3rem;
  /* font-weight: 600; */
}
#home p {
  font-family: "Manrope";
  font-size: 1.5rem;
  color: rgba(163, 163, 163, 1);
  margin: 0.5rem 0;
}
#home .im {
  font-family: "Halant", sans-serif;
  font-weight: 500;
}
#home button,
.hire2 {
  margin-top: 1rem;
  background: #155eef;
  border-radius: 8px;
  font-weight: 700;
  border: none;
  color: white;
  padding: 1rem;
}
.btns {
  display: flex;
  justify-content: flex-start;
}
.hire2 {
  margin-top: 1.8rem;
  margin-right: 1rem;
  padding: 0.9rem 3rem;
}
.hire2 a,
#home button a {
  color: white;
  font-family: "Manrope";
}
.hire {
  font-size: 0.8rem;
}
.hire,
.resume {
  background-color: #fff;
  font-weight: 700;
  color: rgba(21, 94, 239, 1);
  border: 1px solid rgba(21, 94, 239, 1);
  padding: 0.4rem 1rem;
  border-radius: 7px;
  font-family: "Manrope";
}
.resume {
  margin-top: 1.8rem;
  padding: 0.8rem 1rem;
}
.resume a {
  color: rgba(21, 94, 239, 1);
  font-weight: 700;
  font-family: "Manrope";
}
h1,
h2 {
  font-family: "Halant", serif;
  /* font-weight: 500; */
}
#about {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 3rem 7rem;
}
.aboutimg {
  width: 30%;
}
#about img {
  background-color: rgba(238, 238, 213, 0.952);
  width: 100%;
}
.abouttxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 52%;
}
#about p {
  margin: 1rem 0;
  font-family: "Manrope";
  font-size: 1.5rem;
  color: rgb(3, 3, 3);
}
.footer {
  padding: 0.8rem 7rem;
  display: flex;
  font-family: "Manrope";
  justify-content: space-between;
  align-items: center;
  background: rgba(8, 8, 8, 1);
  color: white;
}
.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socials a img {
  width: 20px;
  margin: 0 1rem;
}

/* MOBILE VIEW */
@media only screen and (max-width: 500px) {
  /* .moblie {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */
  .navul {
    display: none;
  }
  nav.desk {
    padding: 0.5rem 1rem;
  }
  .desk .logo {
    width: 50%;
  }
  .menu {
    display: block;
  }
  #home {
    flex-direction: column-reverse;
    padding: 1rem 0.5rem;
  }
  .hometxt {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  #home h1 {
    font-size: 1.5rem;
  }
  #home button {
    width: 100%;
    padding: 0.8rem 4rem;
    text-align: center;
  }
  #about h2 {
    font-size: 1.3rem;
  }
  #home p,
  #about p {
    font-size: 1rem;
  }
  #home .im {
    margin-bottom: 0;
  }
  .homeimg {
    width: 100%;
  }
  .homeimg img {
    width: 100%;
  }
  #about {
    flex-direction: column;
    padding: 1rem;
  }
  .aboutimg {
    display: none;
  }
  .abouttxt {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .btns {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .hire2 {
    padding: 0.8rem 2rem;
    margin: 0;
    width: 48%;
  }
  .resume {
    margin-top: 0;
    padding: 0.7rem 0.7rem;
    width: 48%;
  }
  .footer p {
    font-size: 0.8rem;
    padding: 1rem 0;
    flex-grow: 1;
  }
  .footer {
    flex-wrap: wrap;
    padding: 1rem;

    text-align: center;
  }
  .socials a img {
    width: 18px;
    margin: 0 0.5rem;
  }
  .footlogo {
    width: 46%;
  }
}
